{% macro localeButton(locale, currentLocale) %}
    {% import '@SyliusUi/Macro/flags.html.twig' as syliusUiFlags %}
    {% set localeButtonId = 'id_' ~ locale.code %}
    {% set localeButtonTitle = locale.name %}
    {% set localeButtonPath = path('sylius_translation_plugin_translation_locale', {'localeCode' : locale.code}) %}
    {% set localeButtonIcon = syliusUiFlags.fromLocaleCode(locale.code) %}
    {% set localeButtonClass = currentLocale.code == locale.code ? 'active' : '' %}

    <a class="ui labeled icon button {{ localeButtonClass }}" id="{{ localeButtonId }}" href="{{ localeButtonPath }}">
        {{ localeButtonIcon }} {{ localeButtonTitle }}
    </a>
{% endmacro %}

{% macro domainButton(domain, currentLocale) %}
    {% import '@SyliusUi/Macro/buttons.html.twig' as syliusUiButtons %}
    {% set domainButtonId = 'id_' ~ domain %}
    {% set domainButtonTitle = domain %}
    {% set domainButtonPath = path('sylius_translation_plugin_translation_locale', {'localeCode' : currentLocale.code, 'domain' : domain}) %}
    {% set domainButtonClass = '' %}

    {{ syliusUiButtons.show(domainButtonPath, domainButtonTitle, domainButtonId, domainButtonClass) }}
{% endmacro %}
