{% extends 'SyliusUiBundle:Layout:sidebar.html.twig' %}

{% import '@AcmeSyliusTranslationPlugin/macro.html.twig' as pluginMacro %}

{% set locales = plugin.getSyliusAvailableLocales() %}
{% set currentLocale = plugin.getLocale() %}
{% set domains = plugin.getDomains() %}

{% block title %}{{ 'Translation'|trans({}, null, currentLocale.code) }} | Sylius{% endblock %}

{% block stylesheets %}
    {% include 'SyliusUiBundle::_stylesheets.html.twig' with {'path': 'assets/admin/css/style.css'} %}
    {{ sonata_block_render_event('sylius.admin.layout.stylesheets') }}
    <style>
        .hidden { display:none !important; }
    </style>
{% endblock %}

{% block flash_messages %}
    {% include '@SyliusAdmin/_flashes.html.twig' %}
{% endblock %}

{% block topbar %}
    <a class="icon item" id="sidebar-toggle" title="{{ 'sylius.ui.toggle_sidebar'|trans }}">
        <i class="sidebar icon"></i>
    </a>

    {{ sonata_block_render_event('sylius.admin.layout.topbar_left') }}

    {{ render(url('sylius_admin_partial_channel_index', {'template': '@SyliusAdmin/_channelLinks.html.twig'})) }}
    {% include '@SyliusAdmin/_search.html.twig' %}

    <div class="ui left floated dividing empty item"></div>

    {{ sonata_block_render_event('sylius.admin.layout.topbar_middle') }}

    <div class="ui right floated dividing empty item"></div>

    {{ sylius_render_notifications_widget() }}
    {% include '@SyliusAdmin/_security.html.twig' %}

    {{ sonata_block_render_event('sylius.admin.layout.topbar_right') }}
{% endblock %}

{% block sidebar %}
    {{ sonata_block_render_event('sylius.admin.layout.sidebar_top') }}

    <a class="item" href="{{ path('sylius_admin_dashboard') }}"><b>Sylius</b></a>
    {{ knp_menu_render('sylius.admin.main', {'template': 'SyliusUiBundle:Menu:sidebar.html.twig', 'currentClass': 'active'}) }}

    {{ sonata_block_render_event('sylius.admin.layout.sidebar_down') }}
{% endblock %}

{% block footer %}
    {{ 'sylius.ui.powered_by'|trans }} <a href="http://sylius.com" target="_blank">Sylius v{{ sylius_meta.version }}</a>
{% endblock %}

{% block javascripts %}
    {% include 'SyliusUiBundle::_javascripts.html.twig' with {'path': 'assets/admin/js/app.js'} %}
    <script src="{{ asset('bundles/acmesyliustranslationplugin/translation.js') }}"></script>
    {{ sonata_block_render_event('sylius.admin.layout.javascripts') }}


    <script>
        function stpEditMessage(selector)
        {
            const
                container = jQuery(selector),
                localeCode = container.find('form input[name="localeCode"]').val(),
                domain = container.find('form input[name="domain"]').val(),
                messageDomain = container.find('form input[name="messageDomain"]').val(),
                translation = container.find('form input[name="translation"]').val();
            if(newTranslation = prompt(messageDomain + '\n(' + localeCode + ')', ))
            {
                jQuery.post(
                    '/admin/translation/set',
                    {
                        'localeCode': localeCode,
                        'domain': domain,
                        'messageDomain': messageDomain,
                        'translation': newTranslation
                    }, function(response) {
                        if(response.status == 'success')
                        {
                            container.find('form input[name="translation"]').val(newTranslation);
                            container.find('span.translation').text(newTranslation);
                            // show notification
                        }
                        else alert('something wrong');
                    }, 'json');
            }
        }
    </script>
{% endblock %}



{% block content %}
{% if locales|length > 1 %}
<div class="ui segment overflow-x-auto">
    {% for locale in locales %}
        {{ pluginMacro.localeButton(locale, currentLocale) }}
    {% endfor %}
</div>
{% endif %}

{% if domains|length > 0 %}
<div class="ui segment overflow-x-auto">
    {% for domain in domains %}
        {{ pluginMacro.domainButton(domain, currentLocale) }}
    {% endfor %}
</div>
<!--
<div class="ui segment overflow-x-auto">
    <select id="domainFilter">
        <option value="">All</option>
    {% for domain in domains %}
        <option value="{{ domain }}">{{ domain }}</option>
    {% endfor %}
    </select>
    <input type="text" id="messageFilter">
    <label><input type="checkbox"> Include domain names</label>
</div>
-->
{% endif %}

<div class="ui segment overflow-x-auto">
    {% set selectedDomain = null %}
    {% if app.request.query.get('domain') in domains %}
        {% set selectedDomain = app.request.query.get('domain') %}
    {% endif %}
    {% for domain in domains %}
        {% set showDomainMessages = true %}
        {% if selectedDomain != null and domain != selectedDomain %}
            {% set showDomainMessages = false %}
        {% endif %}
        {% if showDomainMessages %}
            {% set messages = plugin.getMessages(domain) %}
            {% if messages|length > 0 %}
    <h3>{{ domain }}</h3>
    <table class="ui sortable stackable celled table">
        <thead>
        <tr>
            <th>Domain</th>
            <th>Message</th>
        </tr>
        </thead>
        <tbody>
            {% set ajaxPath = path('sylius_translation_plugin_translation_set_message') %}
            {% for messageDomain, translation in messages %}
                {% set messageSelectorSuffix = '%s_%s'|format(domain, loop.index) %}
            <tr>
                <td>{{ messageDomain }}</td>
                <td>
                    <div id="message_container_{{ messageSelectorSuffix }}">
                        {# TODO: hardcoded #}
                        <form class="hidden" method="POST">
                            <input type="hidden" value="{{ currentLocale.code }}" name="localeCode" />
                            <input type="hidden" value="{{ domain }}" name="domain" />
                            <input type="hidden" value="{{ messageDomain }}" name="messageDomain" />
                            <input type="hidden" value="{{ translation }}" name="translation" />
                        </form>
                        <span class="translation">{{ translation }}</span>
                        <a class="ui labeled icon button edit right" href="#" onclick="stpEditMessage('#message_container_{{ messageSelectorSuffix }}')">
                            <i class="icon edit"></i> Edit
                        </a>
                        <input type="text" class="hidden" class="newTranslation">
                        <a class="ui labeled icon button edit right hidden" href="#" onclick="stpConfirmEdit('#message_container_{{ messageSelectorSuffix }}')">
                            <i class="icon edit"></i> Edit
                        </a>
                        <a class="ui labeled icon button edit right hidden" href="#" onclick="stpCancelEdit('#message_container_{{ messageSelectorSuffix }}')">
                            <i class="icon edit"></i> Edit
                        </a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
            {% endif %}
        {% endif %}
    {% endfor %}
</div>
{% endblock %}
