<div class="ui segment">
    <div class="ui two column stackable grid">
        <div class="ten wide column">
            <h2 class="header">
                {{ 'domains_list' | trans([], pluginTranslationDomain, defaultLocale.code) }}
            </h2>
        </div>
    </div>
    <div class="ui middle aligned list">
        <div class="item">
            <i class="icon folder"></i>
            <div class="content">
                <div class="header">
                    <a href="{{ path('yaroslavche_sylius_translation_plugin_dashboard') }}">..</a>
                </div>
            </div>
        </div>
        {% for domain in fullMessageCatalogue.getDomains() %}
            <div class="item domain-item" data-domain="{{ domain }}">
                <i class="icon folder{% if selectedDomain is same as(domain) %} open teal{% endif %}"></i>
                <div class="content">
                    <div class="header">
                        <a onclick="SyliusTranslationPlugin.selectDomain('{{ domain }}');">{{ domain }}</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<div class="ui basic modal" id="addDomainModal" data-locale-code="{{ currentLocale.code }}">
    <div class="ui icon header">
        <i class="archive icon"></i>
        Add new domain for "{{ currentLocale.name|trans([], null, defaultLocale.code) }}" locale
    </div>
    <div class="content">
        <div class="ui center aligned grid">
            <div class="sixteen wide column">
                <div class="ui labeled inverted input">
                    <div class="ui label">
                        {{ 'domain' | trans([], pluginTranslationDomain, currentLocale.code) }}
                    </div>
                    <input placeholder="domain" id="addDomainModal_domainInput" type="text">
                </div>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui red basic cancel inverted button">
            <i class="remove icon"></i>
            Cancel
        </div>
        <div class="ui green ok inverted button">
            <i class="checkmark icon"></i>
            Apply
        </div>
    </div>
</div>