<div class="ui segment">
    <div class="ui two column stackable grid">
        <div class="ten wide column">
            <h2 class="header">
                {{ domain }}
            </h2>
        </div>
        <div class="six wide column">
            <div class="ui green inverted button tiny" style="float: right;" onclick="SyliusTranslationPlugin.addDomainMessage(jQuery('#addDomainMessageModal'));">
                <i class="add icon"></i>
                Add
            </div>
        </div>
    </div>
    <div class="ui grid" id="domainMessagesContainer">
        {#{% set translatedMessages = localeMessageCatalogue.getTranslatedMessages(domain) %}#}
        {#{% set untranslatedMessages = localeMessageCatalogue.getUntranslatedMessages(domain) %}#}
        {#{% set messages = customMessages | merge(untranslatedMessages, translatedMessages) %}#}
        {% set messages = localeMessageCatalogue.getMessages() %}
        {% set customMessages = localeMessageCatalogue.getCustomMessages() %}
        {% for messageDomain, translation in messages %}
            {% set ifTranslated = translation | length > 0 %}
            {% set showMessageDomain = messageDomain | truncate(50) %}
            {% set messageDomainIsTruncated = false %}
            {% set isCustom = messageDomain in customMessages | keys %}
            {% if showMessageDomain | length != messageDomain | length %}
                {% set messageDomainIsTruncated = true %}
            {% endif %}
            <div class="row" data-locale-code="{{ currentLocale.code }}" data-domain="{{ domain }}" data-message-domain="{{ messageDomain }}" data-translation="{{ translation }}">
                <div class="six wide column message-domain">
                    <div class="ui big label fluid"{% if messageDomainIsTruncated == true %} data-tooltip="{{ messageDomain }}" data-inverted="" data-position="top center"{% endif %}>
                        {% if ifTranslated == true %}
                            <i class="icon check circle outline green"></i>
                            {% if isCustom == true %}
                                <i class="icon cog teal"></i>
                            {% endif %}
                        {% else %}
                            <i class="icon circle outline red"></i>
                        {% endif %}
                        {% if messageDomainIsTruncated == true %}
                            <i class="icon ellipsis horizontal yellow"></i>
                        {% endif %}
                        <span class="fluid">{{ showMessageDomain }}</span>
                    </div>
                </div>
                <div class="ten wide column">
                    <div class="ui icon input fluid">
                        <input class="translation_input" placeholder="{{ translation }}" value="{{ translation }}" type="text">
                        <i class="edit link icon" onclick="SyliusTranslationPlugin.editTranslation(jQuery(this).parent().parent().parent());"></i>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<div class="ui basic modal" id="addDomainMessageModal" data-locale-code="{{ currentLocale.code }}" data-domain="{{ domain }}">
    <div class="ui icon header">
        Add new message in "{{ domain }}" domain for "{{ currentLocale.name|trans([], null, defaultLocale.code) }}" locale
    </div>
    <div class="content">
        <div class="ui center aligned grid">
            <div class="sixteen wide column">
                <div class="ui labeled inverted input">
                    <div class="ui label">
                        {{ 'message_domain'|trans([], 'SyliusTranslationPlugin', currentLocale.code) }}
                    </div>
                    <input placeholder="message.domain" id="addDomainMessageModal_messageDomainInput" type="text">
                </div>
            </div>
            <div class="sixteen wide column">
                <div class="ui labeled inverted input">
                    <div class="ui label">
                        {{ 'translation'|trans([], 'SyliusTranslationPlugin', currentLocale.code) }}
                    </div>
                    <input placeholder="translation" id="addDomainMessageModal_translationInput" type="text">
                </div>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui red basic cancel inverted button">
            <i class="remove icon"></i>
            Cancel
        </div>
        <div class="ui green ok inverted button">
            <i class="checkmark icon"></i>
            Apply
        </div>
    </div>
</div>