{% set currentLocale = service.getCurrentLocale() %}
{% set defaultLocale = service.getDefaultLocale() %}
{% set availableLocales = service.getLocales() %}
{% set translatedCount = service.getTotalTranslatedCount() %}
{% set untranslatedCount = service.getTotalUntranslatedCount() %}
{% set totalCount = translatedCount + untranslatedCount %}
{% set translationProgress = (translatedCount / totalCount) * 100 %}
{% set domainCount = service.getTotalDomainCount() %}


{% import '@SyliusUi/Macro/flags.html.twig' as syliusUiFlags %}
{% import 'SyliusUiBundle:Macro:messages.html.twig' as syliusUiMessages %}

<div class="ui segment">
    <div class="ui center aligned four column stackable divided grid">
        <div class="column">
            <div class="ui statistic">
                <div class="value">
                    {{ availableLocales | length }}
                </div>
                <div class="label">
                    {{ 'sylius_available_locales' | trans([], pluginTranslationDomain, currentLocale.code) }}
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui statistic">
                <div class="value">
                    {{ totalCount }}
                </div>
                <div class="label">
                    {{ 'total_messages_count' | trans([], pluginTranslationDomain, currentLocale.code) }}
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui statistic">
                <div class="value">
                    {{ domainCount }}
                </div>
                <div class="label">
                    {{ 'domains' | trans([], pluginTranslationDomain, currentLocale.code) }}
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui statistic">
                <div class="value">
                    {{ '%.2f' | format(translationProgress) }}%
                </div>
                <div class="label">
                    {{ 'overall_progress' | trans([], pluginTranslationDomain, currentLocale.code) }}
                </div>
            </div>
        </div>
    </div>
    <div class="ui bottom attached progress" data-percent="{{ '%.2f' | format(translationProgress) }}">
        <div class="bar"></div>
    </div>
</div>

{% for locale in availableLocales %}
    {% set isDefaultLocale = defaultLocale == locale %}
    {% set isCurrent = currentLocale == locale %}
    {% set translatedCount = service.getTotalTranslatedCount(locale) %}
    {% set untranslatedCount = service.getTotalUntranslatedCount(locale) %}
    {% set totalCount = translatedCount + untranslatedCount %}
    {% set translationProgress = (translatedCount / totalCount) * 100 %}

    <div class="ui segment{% if isDefaultLocale %} default{% endif %}{% if isCurrent %} active{% endif %}">
        <div class="ui center aligned four column stackable divided grid">
            <div class="column">
                <div class="ui statistic">
                    <div class="value">
                        <a href="{{ path('yaroslavche_sylius_translation_plugin_locale', {'localeCode': locale.code}) }}">{{ locale.code }}</a>
                    </div>
                    <div class="label">
                        {{ locale.name | trans([], null, currentLocale.code) }}
                        {{ syliusUiFlags.fromLocaleCode(locale.code) }}
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui statistic">
                    <div class="value">
                        {{ translatedCount }}
                    </div>
                    <div class="label">
                        {{ 'total_translated' | trans([], pluginTranslationDomain, currentLocale.code) }}
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui statistic">
                    <div class="value">
                        {{ untranslatedCount }}
                    </div>
                    <div class="label">
                        {{ 'total_untranslated' | trans([], pluginTranslationDomain, currentLocale.code) }}
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui statistic">
                    <div class="value">
                        {{ '%.2f' | format(translationProgress) }}%
                    </div>
                    <div class="label">
                        {{ 'progress' | trans([], pluginTranslationDomain, currentLocale.code) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="ui bottom attached progress" data-percent="{{ '%.2f' | format(translationProgress) }}">
            <div class="bar"></div>
        </div>
    </div>
{% endfor %}