{% set currentLocale = service.getCurrentLocale() %}
{% set defaultLocale = service.getDefaultLocale() %}
{% set availableLocales = service.getSyliusLocales() %}
{% set totalMessagesCount = service.getTotalMessagesCount() %}
{% set translatedMessagesCount = service.getTotalTranslatedMessagesCount() %}
{% set untranslatedMessagesCount = totalMessagesCount - translatedMessagesCount %}
{% set translationProgress = service.calculateTotalTranslationProgress() %}
{% set domainsCount = service.getTotalDomainCount() %}


{% import '@SyliusUi/Macro/flags.html.twig' as syliusUiFlags %}
{% import 'SyliusUiBundle:Macro:messages.html.twig' as syliusUiMessages %}

<div class="ui segment">
    <div class="ui center aligned four column stackable divided grid">
        <div class="column">
            <div class="ui statistic">
                <div class="value">
                    {{ availableLocales | length }}
                </div>
                <div class="label">
                    {{ 'sylius_available_locales' | trans([], pluginTranslationDomain, currentLocale.code) }}
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui statistic">
                <div class="value">
                    {{ totalMessagesCount }}
                </div>
                <div class="label">
                    {{ 'total_messages_count' | trans([], pluginTranslationDomain, currentLocale.code) }}
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui statistic">
                <div class="value">
                    {{ domainsCount }}
                </div>
                <div class="label">
                    {{ 'domains_count' | trans([], pluginTranslationDomain, currentLocale.code) }}
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui statistic">
                <div class="value">
                    {{ '%.2f' | format(translationProgress) }}%
                </div>
                <div class="label">
                    {{ 'translation_progress' | trans([], pluginTranslationDomain, currentLocale.code) }}
                </div>
            </div>
        </div>
    </div>
    <div class="ui bottom attached progress" data-percent="{{ '%.2f' | format(translationProgress) }}">
        <div class="bar"></div>
    </div>
</div>

{% for locale in availableLocales %}
    {% set isDefaultLocale = defaultLocale == locale %}
    {% set isCurrent = currentLocale == locale %}

    {% set totalMessagesCount = service.getTotalMessagesCount(locale) %}
    {% set translatedMessagesCount = service.getTotalTranslatedMessagesCount(locale) %}
    {% set untranslatedMessagesCount = totalMessagesCount - translatedMessagesCount %}
    {% set translationProgress = service.calculateTranslationProgress(locale) %}
    {% set domainsCount = service.getTotalDomainCount(locale) %}

    <div class="ui segment{% if isDefaultLocale %} default{% endif %}{% if isCurrent %} active{% endif %}">
        <div class="ui center aligned four column stackable divided grid">
            <div class="column">
                <div class="ui statistic">
                    <div class="value">
                        <a href="{{ path('yaroslavche_sylius_translation_plugin_locale', {'localeCode': locale.code}) }}">{{ locale.code }}</a>
                    </div>
                    <div class="label">
                        {{ locale.name | trans([], null, currentLocale.code) }}
                        {{ syliusUiFlags.fromLocaleCode(locale.code) }}
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui statistic">
                    <div class="value">
                        {{ translatedMessagesCount }}
                    </div>
                    <div class="label">
                        {{ 'translated_messages_count' | trans([], pluginTranslationDomain, currentLocale.code) }}
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui statistic">
                    <div class="value">
                        {{ untranslatedMessagesCount }}
                    </div>
                    <div class="label">
                        {{ 'untranslated_messages_count' | trans([], pluginTranslationDomain, currentLocale.code) }}
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui statistic">
                    <div class="value">
                        {{ '%.2f' | format(translationProgress) }}%
                    </div>
                    <div class="label">
                        {{ 'translation_progress' | trans([], pluginTranslationDomain, currentLocale.code) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="ui bottom attached progress" data-percent="{{ '%.2f' | format(translationProgress) }}">
            <div class="bar"></div>
        </div>
    </div>
{% endfor %}