{% set currentLocale = plugin.getLocale() %}
{% set defaultLocale = plugin.getSyliusDefaultLocale() %}
{% set availableLocales = plugin.getSyliusAvailableLocales() %}

{% for locale in availableLocales %}
    {% set isDefaultLocale = defaultLocale == locale %}
    {% set isCurrent = currentLocale == locale %}
    {% set changeLocale = plugin.setLocale(locale) %}
    {% set messageCatalogue = checker.getFullMessageCatalogue(locale) %}
    {% set messages = messageCatalogue.all() %}
    {% set totalMessages = checker.getTotalMessagesCount(messageCatalogue) %}
    {% set totalTranslated = checker.getTranslatedMessagesCount(messageCatalogue) %}
    {% set completed = (totalTranslated / totalMessages) * 100 %}

<div class="ui segment{% if isDefaultLocale %} default{% endif %}{% if isCurrent %} active{% endif %}">
    <div class="ui center aligned four column stackable divided grid">
        <div class="column">
            <div class="ui statistic">
                <div class="value">
                    <a href="{{ path('sylius_translation_plugin_translation_locale', {'localeCode': locale.code}) }}">{{ locale.code }}</a>
                </div>
                <div class="label">
                    {{ 'locale'|trans([], 'SyliusTranslationPlugin', currentLocale.code) }}
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui statistic">
                <div class="value">
                    {{ messages|length }}
                </div>
                <div class="label">
                    {{ 'total_domains'|trans([], 'SyliusTranslationPlugin', currentLocale.code) }}
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui statistic">
                <div class="value">
                    {{ totalTranslated }}
                </div>
                <div class="label">
                    {{ 'total_messages'|trans([], 'SyliusTranslationPlugin', currentLocale.code) }}
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui statistic">
                <div class="value">
                    {{ '%.2f'|format(completed) }}%
                </div>
                <div class="label">
                    {{ 'completed'|trans([], 'SyliusTranslationPlugin', currentLocale.code) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% set changeLocale = plugin.setLocale(defaultLocale) %}
